<h1>Clientes</h1>

<% if @clients.empty? %>
    <p>Não há clientes cadastradas<p>
<% end %>

<% @clients.each do |client| %>
    <%= link_to client.name, client_path(client) %>
<% end %>

<%= link_to 'Registrar novo cliente', new_client_path %>
<%= link_to 'Voltar', root_path %>