<h3>Fabricantes</h3>

<!--Sessão abaixo será apenas para administradores-->
<%= link_to "Registrar novo fabricante",  new_manufacturer_path %><br><br>


<% if @manufacturers.empty? %>
    <p>Não existe fabricantes cadastrados</p>
<% end %>

<% @manufacturers.each do |manufacturer| %>
    <%= link_to manufacturer.name, manufacturer_path(manufacturer) %><br>
<% end %>
<%= link_to 'Voltar', root_path %>

